Repository jango-blockchained/aurora_sound_to_light: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, integration-py39-ha2023.8.0, integration-py39-halatest, integration-py310-ha2023.8.0, integration-py310-halatest, integration-py311-ha2023.8.0, integration-py311-halatest

Add performance optimization module and enhance frontend testing for Aurora Sound to Light integration
  frontend/test/setup.js
  optimization.py
  package-lock.json
  package.json
  tests/README.md
  tests/frontend/e2e/performance-monitor.e2e.test.js
  tests/frontend/e2e/test-performance-monitor.html
  tests/frontend/e2e/test-performance-monitor.js
  tests/frontend/integration/aurora-integration.test.js
  tests/frontend/integration/aurora-performance-monitor.integration.test.js
  tests/frontend/jest.config.js
  tests/frontend/setup/setup.js
  tests/frontend/test-aurora-performance-monitor.js
  tests/frontend/unit/aurora-dashboard.test.js
  tests/frontend/unit/aurora-effect-selector.test.js
  tests/frontend/unit/aurora-group-manager.test.js
  tests/frontend/unit/aurora-media-controls.test.js
  tests/frontend/unit/aurora-performance-monitor.test.js
  tests/frontend/unit/aurora-visualizer.test.js
  web-test-runner.config.js
Due: frontend

Add .cursorignore file for development artifacts
  .cursorignore
  coverage/base.css
  coverage/block-navigation.js
  coverage/favicon.png
  coverage/frontend/aurora-dashboard.js.html
  coverage/frontend/aurora-performance-monitor.js.html
  coverage/frontend/index.html
  coverage/index.html
  coverage/lcov-report/frontend/aurora-dashboard.js.html
  coverage/lcov-report/frontend/aurora-performance-monitor.js.html
  coverage/lcov-report/frontend/index.html
  coverage/lcov-report/tests/frontend/setup/index.html
  coverage/lcov-report/tests/frontend/setup/setup.js.html
  coverage/lcov.info
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/tests/frontend/setup/index.html
  coverage/tests/frontend/setup/setup.js.html
  package-lock.json
  package.json
  tests/frontend/setup/setup.js
  tests/frontend/unit/aurora-dashboard.test.js
  tests/frontend/unit/aurora-performance-monitor.test.js
  web-test-runner.config.js
Due: none

Refactor project documentation and update .gitignore
  .cursorrules
  .gitignore
Due: none

Enhance performance monitoring and frontend testing for Aurora Sound to Light integration
  .cursorrules
  frontend/aurora-performance-monitor.js
  manifest.json
  tests/frontend/e2e/aurora-performance-monitor.js
  tests/frontend/e2e/serve.py
  tests/frontend/e2e/test-performance-monitor.html
  tests/frontend/e2e/test-performance-monitor.js
Due: frontend

Revise task management documentation and update project structure
  .cursorrules
  .gitignore
  frontend/tasks
  tasks
Due: frontend

Update .gitignore to enhance file exclusion rules
  .gitignore
Due: none

Refine cursor rules and update project documentation
  .cursorrules
Due: none

Enhance testing framework and configuration for Aurora Sound to Light integration
  pyproject.toml
  tests/conftest.py
  tests/core/test_effect_engine.py
  tests/core/test_effects.py
Due: none

Update project status and complete documentation for Aurora Sound to Light integration
  docs/configuration/basic.md
  docs/guides/dashboard.md
  docs/guides/effects.md
  docs/guides/performance.md
  docs/guides/quick-start.md
  docs/index.md
  docs/troubleshooting/common-issues.md
  tasks
Due: none

Refactor AuroraDashboard and enhance effect engine testing
  .gitignore
  frontend/aurora-dashboard.js
  tests/core/test_effect_engine.py
  tests/core/test_effect_engine_validation.py
  tests/core/test_effects.py
Due: frontend

Refactor AuroraDashboard and update testing framework
  frontend/aurora-dashboard.js
  frontend/aurora-dashboard.test.js
  package-lock.json
  package.json
  web-test-runner.config.js
Due: frontend

Enhance web-test-runner configuration for improved testing coverage
  web-test-runner.config.js
Due: none

Refactor AuroraDashboard component and enhance styling
  frontend/aurora-dashboard.js
Due: frontend

Refactor AuroraEffectSelector component and enhance functionality
  frontend/aurora-effect-selector.js
Due: frontend

Update dependencies, enhance testing framework, and complete component development
  frontend/aurora-dashboard.test.js
  frontend/package-lock.json
  package-lock.json
  package.json
  tasks
Due: frontend

Refactor AuroraGroupManager component and enhance functionality
  frontend/aurora-group-manager.js
Due: frontend

Refactor AuroraMediaControls component for improved state management and UI
  frontend/aurora-media-controls.js
Due: frontend

Update import path for LitElement in Aurora Performance Monitor component
  frontend/aurora-performance-monitor.js
Due: frontend

Update import path for LitElement in AuroraVisualizer component to use a more reliable CDN
  frontend/aurora-visualizer.js
Due: frontend

Add Babel configuration for frontend build process
  frontend/babel.config.js
Due: frontend

Add Jest configuration for frontend testing
  frontend/jest.config.js
Due: frontend

Update testing framework in package.json to use web-test-runner
  frontend/package.json
Due: frontend

Refactor Jest configuration for frontend testing
  tests/frontend/jest.config.js
Due: none

Remove deprecated aurora-performance-monitor.js file from E2E tests
  tests/frontend/e2e/aurora-performance-monitor.js
Due: none

Add mock Home Assistant and WebSocket implementations for frontend testing
  tests/frontend/setup/ha-mock.js
Due: none

Add Jest setup and testing utilities for frontend components
  tests/frontend/setup/jest.setup.js
  tests/frontend/setup/test-setup.js
  tests/frontend/unit/components/aurora-dashboard.test.js
Due: none

Enhance Aurora Sound to Light panel registration and WebSocket integration
  panel.py
Due: none

Refactor AuroraDashboard and enhance testing framework
  frontend/aurora-dashboard.js
  tests/README.md
  tests/frontend/e2e/aurora-core.e2e.test.js
  tests/frontend/e2e/test-helpers.js
  tests/test_cache.py
Due: frontend

Update testing framework and project status in package.json and tasks
  package.json
  tasks
Due: none

Add pre-commit configuration for enhanced code quality checks</message>
  .pre-commit-config.yaml
Due: none

Add release process documentation for Aurora Sound to Light project
  RELEASE.md
Due: none

Add requirements for testing and code quality tools
  requirements_test.txt
Due: none

Refactor and enhance Aurora Sound to Light integration
  .cursorignore
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  __init__.py
  cache.py
  core/__init__.py
  core/effect_engine.py
  effects.py
  effects/__pycache__/__init__.cpython-312.pyc
  effects/__pycache__/base_effect.cpython-312.pyc
  effects/__pycache__/bass_pulse.cpython-312.pyc
  effects/__pycache__/color_wave.cpython-312.pyc
  effects_impl.py
  manifest.json
  optimization.py
  package.json
  panel.py
  pyproject.toml
  security.py
  services.py
  services.yaml
  setup.py
  tasks
  tests/__pycache__/conftest.cpython-312-pytest-8.3.3.pyc
  tests/integration/conftest.py
  tests/integration/test_integration_loading.py
  web-test-runner.config.js
Due: integration-py39-ha2023.8.0, integration-py39-halatest, integration-py310-ha2023.8.0, integration-py310-halatest, integration-py311-ha2023.8.0, integration-py311-halatest

Add cursor management files and update project documentation
  .cursorfiles
  .cursorrules
  .cursortasks
Due: none

Add Babel configuration, Jest setup, and update testing framework
  .babelrc
  .cursorfiles
  .gitignore
  custom_components/aurora_sound_to_light
  jest.config.js
  package-lock.json
  package.json
  tests/README.md
  tests/conftest.py
  tests/frontend/setup/vitest.setup.js
  vitest.config.js
  web-test-runner.config.js
Due: integration-py39-ha2023.8.0, integration-py39-halatest, integration-py310-ha2023.8.0, integration-py310-halatest, integration-py311-ha2023.8.0, integration-py311-halatest

Refactor Aurora Sound to Light integration and enhance light controller functionality
  .cursorignore
  .cursortasks
  __init__.py
  core/light_controller.py
  custom_components/aurora_sound_to_light
  tests/test_light_controller.py
Due: integration-py39-ha2023.8.0, integration-py39-halatest, integration-py310-ha2023.8.0, integration-py310-halatest, integration-py311-ha2023.8.0, integration-py311-halatest

Refactor audio processing structure and enhance server configuration
  __init__.py
  core/audio_processor.py
  tests/frontend/e2e/serve.py
  tests/frontend/e2e/test-performance-monitor.html
Due: none

Path conditions:
  frontend: any of: frontend/
  integration-py39-ha2023.8.0: any of: custom_components/, tests/integration/
  integration-py39-halatest: any of: custom_components/, tests/integration/
  integration-py310-ha2023.8.0: any of: custom_components/, tests/integration/
  integration-py310-halatest: any of: custom_components/, tests/integration/
  integration-py311-ha2023.8.0: any of: custom_components/, tests/integration/
  integration-py311-halatest: any of: custom_components/, tests/integration/
